<mat-toolbar color="primary">
  <mat-icon *ngIf="sidenavOpened" aria-hidden="false" aria-label="icon" (click)="toggleSidenav()">menu_open</mat-icon>
  <mat-icon *ngIf="!sidenavOpened" aria-hidden="false" aria-label="icon" (click)="toggleSidenav()">menu</mat-icon>
  <span>Genshin Build</span>
  <div class="card-block">
    <button class="btn btn-social-icon btn-facebook" (click)="signInWithFacebook()">
      <span class="fa fa-facebook"></span>
    </button>
  </div>
  <div *ngIf="user != null">
    <span>{{user.name}}</span>
    <span>{{user.email}}</span>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="sidenavOpened">
    <app-list-build [builds]="builds"></app-list-build>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="primary"> </mat-toolbar>
