<mat-toolbar>
  <button mat-icon-button>
    <mat-icon *ngIf="user && user.email" (click)="toggleSidenav()">menu</mat-icon>
  </button>
  <img height="60px" style="cursor: pointer;" src="../assets/images/logo_transparent.png" (click)="redirectToHome()">
  <span class="spacer"></span>
  <mat-icon *ngIf="!user" (click)="signInWithFacebook()">facebook</mat-icon>
  <div *ngIf="user && user.email">
    <span cla="user-name">{{user.name}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="icon-menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="redirectToBuilds()">
        <mat-icon>build_circle</mat-icon>
        <span>Builds</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav *ngIf="user && user.email" mode="side" [(opened)]="sidenavOpened">
    <app-list-build></app-list-build>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="primary"></mat-toolbar>
