mat-form-field {
  margin: 2em;
}

mat-icon {
  cursor: pointer;
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.user-name {
  vertical-align: middle;
}

.icon-menu {
  vertical-align: middle;
  padding-left: 5px;
}

::ng-deep .mat-list .mat-list-item .mat-line{
  word-wrap: break-word;
 white-space: pre-wrap;
}
